.grid-item{
  width: 200px;
  margin-bottom: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px #999;
  box-sizing: border-box;
}
.grid-item img{
  width: 100%;

}
