
.menu{
  display: none;
  font-size: 2em;
  position: absolute;
  padding: 0 15px;
  border-radius: 5px;
  top: 15px;
  left: 10px;
}
.title-home{
  display: none;
  font-size: 2em;
  position: absolute;
  padding: 0 ;
  padding-top: 10px;
  margin-bottom: 10px;
  top: 30px;
  left: 20px;
  color: #294331;
}
.title{
  padding-left: 20px;
  display: none;
  font-size: 2em;
  color: #294331;
}
.homepage{
  display: none;
  font-size: 5em;
  position: absolute;
  padding: 0 15px;
  border-radius: 5px;
  top: -45px;
  right: 10px;
  color: #294331;
}
@media screen and (max-width:768px) {
  .homepage,.title,.title-home{
    display: block;
  }
  .content{
    margin-left: 0px;
    margin-right: 0px;
  }
  .box-nav{
    margin-left: 0px;
    padding-top: 60px;
    background-color: #537F78;
    position: relative;
  }
  .box-nav ul{
    display: none;
    position: absolute;
    width: auto;
  }
  .box-nav li{
    margin-top: -2px;
    background-color: #537F78;
    float: none;
    width: 100%;
  }
  .box-nav ul li ul{
    position: static;
  }
  .icon,.logo{
    display: none;
  }
  body{
    width: auto;
  }
  .container{
    padding-left: 0px;
    padding-right: 0px;
    box-sizing: border-box;
  }
  .menu{
    display: block;
  }
  .menu:hover{
    cursor: pointer;
  }
 .ting img,.box-profile img{
   float: none;
 }
 .box{
   padding: 0;
   padding-left: 5px;
 }
 .box-profile{
   padding-left: 15px;
 }
 section  img{
   width:auto;
   height: 300px auto;;
 }
.grid{
  margin-left: 25px;
}
/*daury*/
 #issues li{
   width: 500px;
 }
#timeline{
  margin: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#dates li {
  width: 100px;
  height: 50px;
  font-size: 15px;
}
#dates .selected {
      font-size: 30px;
}

}
